// Размеры шрифтов (variant)


// Выравнивание текста (text-align)

.text-align-center {
  text-align: center;
}

.text-align-start {
  text-align: start;
}

.text-align-end {
  text-align: end;
}

.text-align-inherit {
  text-align: inherit;
}

.text-align-justify {
  text-align: justify;
}


// Цвета шрифтов (color)

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-gray-10 {
  color: var(--color-gray-10);
}

.color-gray-25 {
  color: var(--color-gray-25);
}

.color-gray-50 {
  color: var(--color-gray-50);
}

.color-gray-75 {
  color: var(--color-gray-75);
}

.color-gray-100 {
  color: var(--color-gray-100);
}


// Толщина текста (weight)

.font-weight-regular {
  @extend %font-regular;
}

.font-weight-semibold {
  @extend %font-semibold;
}

.font-weight-bold {
  @extend %font-bold;
}

%font-regular {
  font-weight: var(--font-weight-regular);
}

%font-semibold {
  font-weight: var(--font-weight-semi-bold);
}

%font-bold {
  font-weight: var(--font-weight-bold);
}


// Размеры шрифта
%size-xs {
  font-size: var(--font-size-xs);
}

%size-sm {
  font-size: var(--font-size-sm);
}

%size-sm {
  font-size: var(--font-size-sm);
}

%size-base {
  font-size: var(--font-size-base);
}

%size-lg {
  font-size: var(--font-size-lg);
}

%size-xl {
  font-size: var(--font-size-xl);
}

%size-2xl {
  font-size: var(--font-size-2xl);
}

%size-3xl {
  font-size: var(--font-size-3xl);
}

%size-4xl {
  font-size: var(--font-size-4xl);
}

%size-5xl {
  font-size: var(--font-size-5xl);
}

%size-6xl {
  font-size: var(--font-size-6xl);
}

%size-7xl {
  font-size: var(--font-size-7xl);
}

%size-8xl {
  font-size: var(--font-size-8xl);
}

%size-9xl {
  font-size: var(--font-size-9xl);
}

// Сбор классов для вариантов

.regular12 {
  @extend %size-xs, %font-regular;
}

.semibold12 {
 @extend %size-xs, %font-semibold;
}

.bold12 {
  @extend %size-xs, %font-bold;
}

.regular14 {
  @extend %size-sm, %font-regular;
}

.semibold14 {
  @extend %size-sm, %font-semibold;
}

.bold14 {
  @extend %size-sm, %font-bold;
}

.regular16 {
  @extend %size-base, %font-regular;
}

.semibold16 {
  @extend %size-base, %font-semibold;
}

.bold16 {
  @extend %size-base, %font-bold;
}

.regular18 {
  @extend %size-lg, %font-regular;
}

.semibold18 {
  @extend %size-lg, %font-semibold;
}

.bold18 {
  @extend %size-lg, %font-bold;
}

.regular20 {
  @extend %size-xl, %font-regular;
}

.semibold20 {
  @extend %size-xl, %font-semibold;
}

.bold20 {
  @extend %size-xl, %font-bold;
}

.regular24 {
  @extend %size-2xl, %font-regular;
}

.semibold24 {
  @extend %size-2xl, %font-semibold;
}

.bold24 {
  @extend %size-2xl, %font-bold;
}

.regular30 {
  @extend %size-3xl, %font-regular;
}

.semibold30 {
  @extend %size-3xl, %font-semibold;
}

.bold30 {
  @extend %size-3xl, %font-bold;
}

.regular36 {
  @extend %size-4xl, %font-regular;
}

.semibold36 {
  @extend %size-4xl, %font-semibold;
}

.bold36 {
  @extend %size-4xl, %font-bold;
}

.regular48 {
  @extend %size-5xl, %font-regular;
}

.semibold48 {
  @extend %size-5xl, %font-semibold;
}

.bold48 {
  @extend %size-5xl, %font-bold;
}

.regular60 {
  @extend %size-6xl, %font-regular;
}

.semibold60 {
  @extend %size-6xl, %font-semibold;
}

.bold60 {
  @extend %size-6xl, %font-bold;
}

.regular72 {
  @extend %size-7xl, %font-regular;
}

.semibold72 {
  @extend %size-7xl, %font-semibold;
}

.bold72 {
  @extend %size-7xl, %font-bold;
}

.regular96 {
  @extend %size-8xl, %font-regular;
}

.semibold96 {
  @extend %size-8xl, %font-semibold;
}

.bold96 {
  @extend %size-8xl, %font-bold;
}

.regular128 {
  @extend %size-9xl, %font-regular;
}

.semibold128 {
  @extend %size-9xl, %font-semibold;
}

.bold128 {
  @extend %size-9xl, %font-bold;
}

