.header {
  background-color: var(--color-primary);
  color: var(--color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.menuListContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 70px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: 16px 0;
    display:flex;
    gap:46px;
  }

  .logo img {
    width: 100px;
  }

}