.footerWrapper {
  width: 100%;
  padding: clamp(2.5rem, 4.9107vw + -0.6429rem, 5.25rem)
    clamp(1.5rem, 9.8214vw + -4.7857rem, 7rem);
  background-color: var(--color-primary);
  * {
    color: var(--color-white);
  }
  hr {
    margin: 2rem 0;
  }
}

.footer {
  margin: 0 auto;
  .logo {
    width: 200px;
    height: 32px;
  }
}

.footerNav {
  display: flex;
  justify-content: space-between;

  .links {
    margin-top: 1.25rem;
    display: grid;
    gap: 1.25rem clamp(1rem, 7.1429vw + -3.5714rem, 5rem);
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
  }

  .navItemLogoSection {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  .socials {
    margin-top: 1.25rem;
    display: flex;
    gap: 1.5rem;
  }

  .downloadLinks {
    margin-top: 1.25rem;
    display: flex;
    gap: 1.5rem;
  }

  @media (min-width: 1024px) and (max-width: 1280px) {
    .downloadLinks {
      flex-direction: column;
      gap: 0;
    }
    .socials {
      gap: 0.25rem;
    }
  }

  // tablet
  @media (min-width: 480px) and (max-width: 1024px) {
    .links {
      gap: 1.25rem clamp(2rem, 13.5593vw + -2.0678rem, 5rem);
    }
  }
}

.footerBottom {
  display: flex;
  justify-content: space-between;

  .downloadLinks {
    margin-top: 1.25rem;
    display: flex;
    gap: 1.5rem;
  }

  .socials {
    margin-top: 1.25rem;
    display: flex;
    gap: 1.25rem;
  }
  @media (max-width: 640px) {
    .downloadLinks {
      flex-direction: column;
      gap: 0;
      align-items: center;
    }
  }
}
